<html>
   <body>
      <form action = "/load" method = "POST">
         <p><input type = "submit" value = "Load Data" /></p>
      </form>

      <form action = "/clear" method = "POST">
         <p><input type = "submit" value = "Clear Data" /></p>
      </form>

      <form action = "/query" method = "POST">
         <p>Last Name <input type = "text" name = "LastName" /></p>
         <p>First Name <input type = "text" name = "FirstName" /></p>
         <p><input type = "submit" value = "Query Data" /></p>
      </form>
   </body>
</html>